/*----------------- [Reset] ---------------------*/
/*-----------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, section, footer, aside, nav, main, article, figure {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus 														{ outline:0; }
body 															{ line-height:1; }
strong 														{ font-weight:bold; }
/* tables still need 'cellspacing="0"' in the markup */
table 														{ border-collapse: separate; border-spacing: 0; }
caption, th, td 									{ text-align: left; font-weight: normal; }
blockquote:before, 
blockquote:after, 
q:before, q:after 								{ content: ""; }
blockquote, q 										{ quotes: "" ""; }
header, section, footer, aside, nav, main, article, figure	{ display: block; } 

.clearfix:after										{ clear: both; content: " "; display: block; height: 0; visibility:hidden; }
.clearfix													{ display:inline-block; }
/* Hides from IE-mac \*/
* html .clearfix									{ height: 1%; }
.clearfix 												{ display: block; }

/*
#v-guide, #h-guide			{ width:100%; height:100%; position:fixed; top:0; left:0; z-index:10; opacity:0.3; mix-blend-mode:difference; display:none; }
#v-guide                    { background:url(images/v-guide-2.svg) repeat; background-size:contain; }
#h-guide                    { background:url(images/h-guide-16.svg) repeat; }
*/
.screen-reader-text 		{ border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; }

/*font-family: 'Victor Mono', 'Courier New', Courier, monospace;*/

html { 
	font-size:100%; /* 16px */
	scroll-behavior:smooth;
}
body {
	--fg:#121419;
	--bg:#F5EFE7;
}
html, body { 
	height:100%; 
}
body { 
	font:400 1rem/150% 'Victor Mono', 'Courier New', Courier, monospace;
	color:var(--fg);
	background-color:var(--bg);
	display:flex;
	align-items:center;
	font-synthesis:none;
	-webkit-font-smoothing:antialiased;
 	-moz-osx-font-smoothing:grayscale;
}
.wrapper {
	/*--height:calc(100vh - 8rem);
	width:calc(var(--height) * 0.75);
	height:var(--height);*/
	--width:calc(100vw - 1rem);
	width:var(--width);
	height:calc(var(--width) * 1.333);
	margin:0 auto;
	position:relative;
}
.page_header {
	width:100%;
	position:absolute;
	top:-3.188rem;
	left:0;
	right:unset;
}
.page_title {
	font-size:1rem;
	font-weight:700;
	line-height:1rem;
	letter-spacing:0.1rem;
	text-transform:uppercase;
	margin-bottom:0.389rem;
}
.total_days {
	font-size:0.833rem;
	font-style:italic;
	line-height:1rem;
}
.gallery_container {
	height:100%;
	overflow:hidden;
	padding-bottom:4rem;
}
.gallery_list {
	width:100%;
	height:100%;
	list-style:none;
	display:flex;
	justify-content:space-between;
/*	gap:1px;*/
	transition-property:transform;
}
.gallery_item {
/*	flex:1 1 auto;*/
	flex-shrink:0;
	text-align:center;
	position:relative;
/*	overflow:hidden;*/
	transition-property:transform;
}
.gallery_list figure {
	height:100%;
}
.gallery_list figcaption {
	position:absolute;
	top:100%;
	left:0;
	margin-top:1.111rem;
	width:100%;
	font-size:0.833rem;
	line-height:1rem;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	column-gap:1rem;
	opacity:0.75;
/*	transition:opacity 300ms cubic-bezier(0.75, 0, 0.25, 1) 300ms;*/
}
.image_number,
.image_date {
	display:none;
}
.image_date {
	text-align:right;
/*	transform:translateX(-1rem);*/
/*	transition:transform 300ms cubic-bezier(0.75, 0, 0.25, 1) 300ms;*/
}
.swiper-slide-active .image_number,
.expanded .image_date {
	display:block;
/*	transform:translateX(0);*/
}
.gallery_item_link {
	height:100%;
	display:block;
	overflow:hidden;
}
.collapsed .gallery_item_link {
	cursor:zoom-in;
}
.expanded .gallery_item_link {
	cursor:zoom-out;
}
.gallery_list img {
	width:auto;
	height:100%;
	display:block;
/*	transition:transform ease 300ms;*/
}
.gallery_container:hover .gallery_list img {
/*	will-change:transform;*/
}

.expanded .swiper-slide-active figcaption {
/*	display:flex;*/
/*	opacity:1;*/
}
.collapsed .swiper-slide-visible img {
	transition:transform ease 300ms;
	will-change:transform;
}
.collapsed .swiper-slide-next img {
	transform:translateX(-14.286%);
}
.collapsed .swiper-slide-prev img {
/*	transform:translateX(14.286%);*/
}
.collapsed .swiper-slide-next + .swiper-slide img {
/*.collapsed .swiper-slide-visible:nth-child(3) img {*/
	transform:translateX(-28.571%);
}
.collapsed .swiper-slide-next + .swiper-slide + .swiper-slide img {
/*.collapsed .swiper-slide-visible:nth-child(4) img {*/
	transform:translateX(-42.857%);
}
.collapsed .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide img {
/*.collapsed .swiper-slide-visible:nth-child(5) img {*/
	transform:translateX(-57.143%);
}
.collapsed .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide img {
/*.collapsed .swiper-slide-visible:nth-child(6) img {*/
	transform:translateX(-71.429%);
}
.collapsed .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide img,
.collapsed .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide img {
/*.collapsed .swiper-slide-visible:nth-child(7) img,*/
/*.collapsed .swiper-slide-visible:nth-child(8) img {*/
	transform:translateX(-85.714%);
}
button {	
	font:400 1rem/150% 'Victor Mono', 'Courier New', Courier, monospace;
	color:var(--fg);
	background-color:transparent;
	border:none;
	padding:0;
	margin:0;
	-webkit-appearance:none;
	cursor:pointer;
}
button[disabled] {
	opacity:0.5;
	cursor:not-allowed;
}
.swiper-button-next,
.swiper-button-prev {
	position:absolute;
	top:-2rem;
	white-space:nowrap;
}
.swiper-button-next {
	right:0;
}
.swiper-button-prev {
	left:71.43%;
}

.transition_figure {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	display:none;
/*	background-color:rgba(255, 255, 255, 0.5);*/
	/*transform-origin:66.667%;*/ /* 0 16.667% 33.333% 50% 66.667% 83.333% 100%*/
/*	transform:scaleX(14.286%);*/
/*	transition:transform cubic-bezier(0.25, 0.25, 0.6, 1) 3000ms;*/
/*	width:100%;*/
/*	height:100%;*/

}
.transition_figure.active {
	display:block;
}
.transition_figure img {
	width:auto;
	height:100%;
	display:block;
/*	transform-origin:66.667%;*/
/*	transform:scaleX(700%);*/
/*	transition:transform cubic-bezier(0.25, 0.25, 0.6, 1) 3000ms;*/
/*	transition:mask-position cubic-bezier(0.75, 0, 0.25, 1) 300ms, mask-size cubic-bezier(0.75, 0, 0.25, 1) 300ms;*/
	mask:linear-gradient(#000 0 0) var(--mask-position)/100% 100% no-repeat;
}
.transition_figure:hover img {
	will-change:mask-size;
}
/*.transition_figure img[expanding],
.transition_figure img[collapsing] {
	mask:linear-gradient(#000 0 0) var(--mask-position)/100% 100% no-repeat;
}*/
.transition_figure img[expanding] {
	animation:mask-expand 300ms cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
.transition_figure img[collapsing] {
	animation:mask-collapse 300ms cubic-bezier(0.75, 0, 0.25, 1) forwards;
}
.transition_image_0 {
	--mask-position:0%;
}
.transition_image_1 {
	--mask-position:16.667%;
}
.transition_image_2 {
	--mask-position:33.333%;
}
.transition_image_3 {
	--mask-position:50%;
}
.transition_image_4 {
	--mask-position:66.667%;
}
.transition_image_5 {
	--mask-position:83.333%;
}
.transition_image_6 {
	--mask-position:100%;
}

@keyframes mask-expand { 
	0% {
		mask-size:14.286% 100%;
	}
	100% {
		mask-size:100% 100%;
	}
}
@keyframes mask-collapse { 
	0% {
		mask-size:100% 100%;
	}
	100% {
		mask-size:14.286% 100%;
	}
}

@media only screen and (prefers-color-scheme:dark) {
	body {
		--fg:#F5EFE7;
		--bg:#121419;
	}
}
@media only screen and (min-aspect-ratio:4/6) {
	/*body {
		--fg:#F5EFE7;
		--bg:#121419;
	}*/
	.wrapper {
		--height:calc(100vh - 8rem);
		width:calc(var(--height) * 0.75);
		height:var(--height);
	}
}
@media only screen and (min-aspect-ratio:5/6) {
	/*body {
		--fg:#F5EFE7;
		--bg:#121419;
	}*/
	html { 
		font-size:106.25%; /* 17px */
	}
	.swiper-button-next,
	.swiper-button-prev {
		top:50%;
		padding:2rem;
		transform:translateY(-50%);
	}
	.swiper-button-next {
		right:unset;
		left:100%;
	}
	.swiper-button-prev {
		right:100%;
		left:unset;
	}
}
@media only screen and (min-aspect-ratio:4/3) {
	/*body {
		--fg:#F5EFE7;
		--bg:#121419;
	}*/
	html { 
		font-size:112.5%; /* 18px */
	}
	.page_header {
		top:0;
		right:100%;
		left:unset;
		padding-right:2rem;
		text-align:right;
	}
}
@media only screen and (min-width:641px) {
	/*#v-guide { 
		background:url(assets/images/v-guide-4.svg) repeat-y; background-size:contain;
	}
	#h-guide { 
		background:url(assets/images/h-guide-17.svg) repeat; 
	}*/
	html { 
		/*font-size:106.25%;*/ /* 17px */
	}
}
@media only screen and (min-width:1025px) {
	/*#v-guide { 
		background:url(assets/images/v-guide-6.svg) repeat-y; background-size:contain; 
	}
	#h-guide { 
		background:url(assets/images/h-guide-18.svg) repeat; 
	}*/
	html { 
		/*font-size:112.5%;*/ /* 18px */
	}
}